/* 480 960 */

main {
	background-color: #FFFFFF
}



header {
	background-color: #FFFFFF;
	border-bottom: 2px solid #02b3e4;
	min-height: 90px;
	max-height: 200px;
}
.top-right-text {
	color: #02b3e4;
	position: absolute;
	top: 0%;
	right: 5%;
	margin: 1px;
	padding: 0px;
	text-align: right;
}

.title{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%);
	background-color: rgba(0, 0, 0, .7);
	width:100%;
	height: 50px;
	padding: 0px;
}

.title a{
	color: #ffffff;
	justify-content: center;
	font-size: 30px;
}

.image-pkg {
	position: relative;
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
	
}
.image-pkg img {
	width: 100%;
	margin-top: 1em;
	
}

body {
	font-family: 'Montserrat', sans-serif;
}


.top-right-text h1 {
	bottom: 0px;
	text-align: right;
	padding: 0px !important;
	margin-bottom: -10px;
	position: relative;
}
.top-right-text p {
	text-align: right;
	bottom: 0px;
	margin-bottom: 0px;
	font-style: italic;
	position: relative;
}
nav {
	width: 100%;
	border-bottom: 2px solid #02b3e4;
}
.navigation {
	display: flex;

}
.navigation a {
	flex-grow: 1;
	font-size: 18px;
	padding: 1em;
	text-align: center;
	background-color: #FFFFFF;
	text-decoration: none;
	color: #2d3c49;
}
.navigation a:hover {
	cursor: pointer;
}


footer {
	text-align: center;
	border-top: 2px solid #02b3e4;
	margin-top: 20px;
}


@media screen and (max-width: 549px) {
	#logo {
		display: none;
	}
	.navigation a {
		flex-grow: 1;
		font-size: 12px;
		padding: 1em;
		text-align: center;
		background-color: #FFFFFF;
		text-decoration: none;
		color: #2d3c49;
	}
	.sk-containers {
		border-top: 2px solid #02b3e4;
		width:100%;
		display: flex;
		flex-direction: column;
		/* max-height: 480px; */
		overflow: hidden;
		padding: 2px;
		padding-top: 10px;
	}
	
	.sk-container-1 {
		width:100%;
		order: -1;
		padding: 2px;
		flex: 1;
		
	}
	.sk-container-2 {
		display: flex;
		flex-direction: column;
		flex: 1;
		width:100%;
		order:1;
		padding: 2px;
			
	}
	.sk-container-1 img{
		width: 100%;
	
	}
	.sk-2 img{
		width: 100%;
	}
	.sk-3 img{
		width: 100%;
		
	}
}

@media screen and (min-width:550px){

	#logo {
		max-height: 85px;
		max-width: 20%;
		padding-left: 1em;
	}
	.sk-containers {
		border-top: 2px solid #02b3e4;
		width:100%;
		display: flex;
		flex-direction: row;
		/* max-height: 480px; */
		overflow: hidden;
		padding: 2px;
		padding-top: 10px;
	}
	
	.sk-container-1 {
		width:50%;
		order: -1;
		padding: 2px;
		flex: 1;
		
	}
	.sk-container-2 {
		display: flex;
		flex-direction: column;
		flex: 1;
		width:50%;
		order:1;
		padding: 2px;
			
	}
	.sk-container-1 img{
		width: 100%;
	
	}
	.sk-2 img{
		width: 100%;
	}
	.sk-3 img{
		width: 100%;
		
	}
}
	